<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-Disks</title>
    <!-- * CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!--* FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        referrerpolicy="no-referrer" />
    <!-- * Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- * Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>


<body>
    <!--#Non usiamo bootstrap-->
    <div id="app">
        <header>
            <div class="container">
                <img src="./img/spotify-logo.png" alt="Spotify Logo">
                <div class="genre">
                    <label for="Genre"><span class="text-white">Select a Genres: </span></label>
                    <select name="Genre" id="Genre" class="text-white" v-model="selected">
                        <option value="All">All</option>
                        <option v-for="genre in genres" :value="genre">{{ genre }}</option>
                    </select>
                </div>
            </div>
        </header>
        <main class="container">
            <section id="album-section">
                <ul>
                    <li v-for="album in mostRecent" v-if="album.genre == selected || selected == 'All' " class="card">
                        <img :src="album.poster" :alt="album.title">
                        <h2 class="title">{{album.title }}</h2>
                        <address class="author">{{ album.author }}</address>
                        <time datetime="1988" class="year">{{ album.year }}</time>
                    </li>
                </ul>
            </section>
        </main>
    </div>

    <script src="./js/script.js"></script>
</body>

</html>